@import url(//db.onlinewebfonts.com/c/04c4a36facccf2d0906a0f1ed61036ef?family=Favorit);

.App {
  text-align: center;
  font-family: 'Favorit';
  margin: 5vh 4.5vw 5vh 4.5vw;
}

.App-header {
  font-family: 'Favorit';
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  height: 90vh;
  width: 92vw;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

@font-face {font-family: "Favorit"; src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot"); 
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot?#iefix") format("embedded-opentype");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff2") format("woff2");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff") format("woff");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.ttf") format("truetype");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.svg#Favorit") format("svg"); }

body {
  background-color:  #64A692; 
}

a {
  color: inherit;
  text-decoration: none; 
}

.call-to-action {
  color: #171D1C;
  text-align: left;
  width: 29vw;
  font-size: 42px;
}

.nav-bar-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    margin-top: 1vh;
}

/* .top-banner {
  top: 0;
  width: 100%;
  height: 1%;
  background-color: #fff200;
} */

.map-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-bar-links {
    color: #000000;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 24px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: lowercase;
}


.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  height: 100%;
}

.left-sidebar {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right-sidebar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mode-text {
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: -30px;
}

.bicycle-image {
  opacity: .6;
  height: 6vh;
  width: 6vh;
  padding: 1vh 3vh 1vh 3vh;
  background-color: transparent;
  border-width: 2px;
  border-color: black;
  transition: all 0.15s ease-in-out;
  border: 1px solid lightgrey;
}

.car-image {
  opacity: .6;
  height: 4vh;
  width: 4vh;
  padding: 2vh 4vh 2vh 4vh;
  background-color: transparent;
  border-width: 2px;
  border-color: black;
  transition: all 0.15s ease-in-out;
  border: 1px solid lightgrey;
}

.transit-image {
  opacity: .6;
  height: 6vh;
  width: 6vh;
  padding: 1vh 3vh 1vh 3vh;
  background-color: transparent;
  border-width: 2px;
  border-color: black;
  transition: all 0.15s ease-in-out;
  border: 1px solid lightgrey;
}
.walk-image {
  opacity: .6;
  height: 4vh;
  width: 4vh;
  padding: 2vh 4vh 2vh 4vh;
  background-color: transparent;
  border-width: 2px;
  border-color: black;
  transition: all 0.15s ease-in-out;
  border: 1px solid lightgrey;
}

.walk-image:hover {
background-color: #ffce19;
}

.car-image:hover {
  background-color: #ffce19;
}
.transit-image:hover {
  background-color: #ffce19;
}

.bicycle-image:hover {
  background-color: #ffce19;
}

.Button {
    text-transform: lowercase;
    border-width: 2px;
    width: 18vw;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.8em;
    font-size: 28px;
    text-align: center;
    transition: all 0.15s ease-in-out;
    border-color: black;
    font-family: "Mabry Pro", sans-serif !important;
    border-radius: 5px;
    line-height: 1em;
    margin: 10px 0px 10px 0px;
    background: #026EE7;
    color: white;
}

.transit-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid lightgray; */
  height: 8vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.Button:hover {
    color: #026EE7;
    background: white;
}
.subheader {
  margin-top: 3vh;
  color: black;
  font-size: 24px;
}

.results-subheader {
  color: black;
  font-size: 42px;
}

.your-sins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  color: black;
  margin-top: 2vh;
}
.space {
  margin-right: .5vw;
}

.fun-facts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  color: black;
  margin-top: 2vh;
}

.bio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 30vw;
  height: 12vh;
}
.form-control {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 28vw;
    height: 5vh;
}

.nav-bar-title {
    letter-spacing: .1rem;
    color: #171D1C;
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
    text-decoration: underline;

}

.logo {
      height: 5vh;
    width: auto;
    margin-right: 1vw;
}


.nav-bar-link {
    margin: 0 20px;
    text-decoration: bold;
    transition-duration: .3s;
    cursor: pointer;
}
.nav-bar-playlist-name:hover {
    color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #264DF9;
}

.footer-inner-container {
  margin-top: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 2px;
}

a:hover {
  text-decoration: underline;
}

.modal-outer-container {
  display: none;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: none;
    position: fixed;
    background-color: #000000;
    height: 70vh;
    width: 38vw;
    border-radius: 40px;
    top: 15vh;
    bottom: 0;
    right: 0;
    left: 8vw;
    background: #026EE7;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 60vh;
    width: 80%;
    overflow: scroll;
}

.x-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 100;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 91%;
    height: 45px;
}

.x-icon-style {
    background-color: transparent;
    font-weight: 100;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.x-icon-style:hover {
  color: black;
}

.outer-results {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
    border-bottom: 1px solid;
}

.walk-results {
  font-size: 32px;
  color: #FFF201;
}

.bike-results {
  font-size: 32px;
  color: #FFF201;
  margin-left: 1.2vw;
}

.transit-results {
  font-size: 32px;
  color: #FFF201;
}

.car-results {
  font-size: 32px;
  color: #FFF201;
}

.carbon-dioxide {
  font-size: 12px;
}

.number-colors {
  margin: 0 .5vw 0 .5vw;
  color: #026EE7;
}