.App {
  text-align: center;
  background-color: #264DF9;
}

.App-header {
  background-color: #264DF9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #264DF9;
}

a {
  color: inherit;
  text-decoration: none; 
}

.nav-bar-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #264DF9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.nav-bar-links {
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 16px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: lowercase;
}


.nav-bar-title {
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 32px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: lowercase;
}

.nav-bar-link:hover {
    color: ; 
    cursor: pointer;
}

#white-splash-logo {
     width:130px;
     height: auto;
}

.nav-bar-link {
    margin: 0 20px;
    text-decoration: bold;
    transition-duration: .3s;
    cursor: pointer;
}

.nav-bar-link:last-child {
    margin-right: 0px;
}

.nav-bar-dash {
     margin: 5px;
     height: 20px;
     width: 1px;
     background-color: white;
}

.nav-bar-playlists {
    color: #b3b3b3;
    margin: 0px;
    padding-inline-start: 40px;
}

.nav-bar-playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-bar-playlist-name {
    font-family: 'lineto-circular-book';
    margin-left: -15px;
    font-weight: 100;
    padding: 5px;
    color: #b3b3b3;
    font-size: 14px;
    transition: .5s;
}

.nav-bar-playlist-name:hover {
    color: white;
}
