@import url(//db.onlinewebfonts.com/c/04c4a36facccf2d0906a0f1ed61036ef?family=Favorit);

.App {
  text-align: center;
  background-color: #264DF9;
  font-family: Favorit;
}

.App-header {
  background-color: #264DF9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80%;
}

@font-face {font-family: "Favorit"; src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot"); 
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.eot?#iefix") format("embedded-opentype");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff2") format("woff2");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.woff") format("woff");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.ttf") format("truetype");
  src: url("//db.onlinewebfonts.com/t/04c4a36facccf2d0906a0f1ed61036ef.svg#Favorit") format("svg"); }

body {
  background-color: #264DF9;
}

a {
  color: inherit;
  text-decoration: none; 
}

.nav-bar-container {
    position: absolute;
    top: 1%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.top-banner {
  top: 0;
  width: 100%;
  height: 1%;
  background-color: #fff200;
}

.nav-bar-links {
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 16px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: lowercase;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-sidebar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right-sidebar {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.walk-bike-button-options {
  text-decoration: underline;
}
.bicycle-image {
  height: 50px;
  width: 50px;
  background-color: #264DF9;
  padding: 5px;
  border-width: 2px;
  border-color: black;
  margin: 5px 0px -20px 10px;
  border-radius: 5%; 
  transition: all 0.15s ease-in-out;
}
.bicycle-image:hover {
  background-color: white;
}

.Button {
    border-width: 2px;
    width: 12vw;
    font-weight: normal;
    letter-spacing: 0;
    padding: 0.9em 1em 1em;
    font-size: 28px;
    text-align: center;
    transition: all 0.15s ease-in-out;
    border-color: black;
    font-family: "Mabry Pro", sans-serif !important;
    border-radius: 50%;
    line-height: 1em;
    margin-bottom: 10px;
    background: #fff200;
    color: #000000;
}

.Button:hover {
    color: #fff200;
    background: #000000;
}

.nav-bar-title {
    letter-spacing: .5rem;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    font-size: 36px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: underline;
}

.nav-bar-link:hover {
    color: ; 
    cursor: pointer;
}

#white-splash-logo {
    width:130px;
    height: auto;
}

.nav-bar-link {
    margin: 0 20px;
    text-decoration: bold;
    transition-duration: .3s;
    cursor: pointer;
}

.nav-bar-link:last-child {
    margin-right: 0px;
}

.nav-bar-dash {
     margin: 5px;
     height: 20px;
     width: 1px;
     background-color: white;
}

.nav-bar-playlists {
    color: #b3b3b3;
    margin: 0px;
    padding-inline-start: 40px;
}

.nav-bar-playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-bar-playlist-name {
    font-family: 'lineto-circular-book';
    margin-left: -15px;
    font-weight: 100;
    padding: 5px;
    color: #b3b3b3;
    font-size: 14px;
    transition: .5s;
}

.nav-bar-playlist-name:hover {
    color: white;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #264DF9;
}

.footer-inner-container {
  margin-top: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 2px;
}

a:hover {
  text-decoration: underline;
}